
<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Top News</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="https://newsapi.org/">powered by newsapi.org</a></li>
      </ul>
      
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active"  href="#test1">TechCruch</a></li>
        <li class="tab"><a href="#test2">Wired</a></li>
        <li class="tab"><a href="#test3">The verge</a></li>
        <li class="tab"><a href="#test4">Hacker News</a></li>
      </ul>
    </div>
  </nav>
  

<!--Navbar end       -->
<div class="container">

<div *ngFor="let news of latest_news.articles" class="col s12 m7">
<div class="card horizontal">
  <div class="card-image">
    <img src="{{news.urlToImage}}">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h5 class="header">{{news.title}}</h5>
      <p>{{news.description}}</p>
    </div>
    <div class="card-action">
      <a href="{{news.url}}">Read More</a>
    </div>
  </div>
</div>
</div>

</div>
            
            
  

<footer>
 
</footer>