
<nav class="nav-extended green darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo hoverable"> <i class="material-icons">library_books</i> Top News</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="https://newsapi.org/">Powered by newsapi.org</a></li>
      </ul>
      
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active"  routerLink="/techcrunch">TechCrunch</a></li>
        <li class="tab"><a href="#test2" routerLink="/bbc-news">BBC News</a></li>
        <li class="tab"><a href="#test2" routerLink="/bloomberg">Bloomberg</a></li>
        <li class="tab"><a href="#test2" routerLink="/reddit-r-all">reddit/r/all</a></li>
        <li class="tab"><a href="#test2" routerLink="/the-wall-street-journal">Wallstreet Journal</a></li>
        <li class="tab"><a href="#test2" routerLink="/the-hindu">The Hindu</a></li>

        <li class="tab"><a href="#test3"routerLink="/the-verge" >The verge</a></li>
        <li class="tab"><a href="#test4"routerLink="/hacker-news" >Hacker News</a></li>
      </ul>
    </div>
  </nav>
  

<!--Navbar end       -->
<div class="container">
  <router-outlet></router-outlet>
  <!--<recent-news></recent-news>-->

</div>
            
            
  

<footer>
 
</footer>